export PATH=/usr/local/bin:$PATH
source /usr/local/bin/virtualenvwrapper_lazy.sh
export RBENV_ROOT=/usr/local/var/rbenv
export GOPATH=$HOME/Code/go
export PATH=$PATH:$GOROOT/bin

# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR="vim"
# else
#   export EDITOR="mvim -vf"
# fi

# use macvim in terminal
export EDITOR="mvim -vf"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
